<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fale Conosco</title>
    <link rel="shortcut icon" href="../static//Images/Logo.svg">
    <link rel="stylesheet" href="../static/Style/bootstrap.css">
</head>
<body>
    <nav class="navbar ml-6 mt-2">
        <a class="navbar-brand" href="/">
          <img src="../static/Images/Logo.svg" height="85px" alt="Jf Barbearia" loading="lazy">
        </a>
        <nav class="navbar navbar-expand-lg navbar-light mr-6 ">
            <a class="navbar-brand" href="#"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav font-nav-bar">
                <li class="nav-item mr-3">
                    <a class="nav-link" href="/historia">Historia <span class="sr-only">(current)</span></a>
                  </li>
                <li class="nav-item mr-3">
                  <a class="nav-link" href="/servicos">Serviços <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item mr-3">
                  <a class="nav-link" href="/galeria">Galeria</a>
                </li>
                <li class="nav-item mr-3">
                  <a class="nav-link" href="/faleconosco">Contato</a>
                </li>
                <li class="nav-item mr-3">
                  <a class="nav-link" href="/login" style="color:#C17B3D">Login</a>
                </li>
              </ul>
            </div>
          </nav>
      </nav>


    <h1 class="text-center mt-2">Fale Conosco</h1>
    <p class="text-center">Nos mande uma mensagem</p>
    <center><form class="container">
        <br>
        <div>
          
            <div>
              <a href="https://api.whatsapp.com/send?phone=+5511950571805&text=Ol%C3%A1+Gostaria+de+agendar+um+hor%C3%A1rio." class="btn btn-primary" style="background-color: #92092A; border:#92092A;">Agendar Horário</a>
            </div><br>
            <div>
              <a href="https://api.whatsapp.com/send?phone=+5511950571805&text=Ol%C3%A1,+gostaria%20de%20informa%C3%A7%C3%B5es+sobre+o+atendimento." class="btn btn-primary" style="background-color: #92092A; border:#92092A;">Informações sobre o atendimento</a>
            </div><br>
            <div>
              <a href="https://goo.gl/maps/KsKhHGNj9bzjusce8" class="btn btn-primary" style="background-color: #92092A; border:#92092A;">Informações sobre localização</a>
            </div><br>
            <div>
              <a href="https://www.instagram.com/barbearia.jf/?hl=pt-br" class="btn btn-primary" style="background-color: #92092A; border:#92092A;">Acesse nosso Instagram</a>
            </div>
          
        </div>
    </form></center>
</body>
</html>