<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nossa História</title>
    <link rel="shortcut icon" href="../static//Images/Logo.svg">
    <link rel="stylesheet" href="../static/Style/bootstrap.css">
</head>
<body>
    <nav class="navbar ml-6 mt-2">
        <a class="navbar-brand" href="/">
          <img src="../static/Images/Logo.svg" height="85px" alt="Jf Barbearia" loading="lazy">
        </a>
        <nav class="navbar navbar-expand-lg navbar-light mr-6 ">
            <a class="navbar-brand" href="#"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav font-nav-bar">
                <li class="nav-item mr-3">
                    <a class="nav-link" href="/historia">Historia <span class="sr-only">(current)</span></a>
                  </li>
                <li class="nav-item mr-3">
                  <a class="nav-link" href="/servicos">Serviços <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item mr-3">
                  <a class="nav-link" href="/galeria">Galeria</a>
                </li>
                <li class="nav-item mr-3">
                  <a class="nav-link" href="/faleconosco">Contato</a>
                </li>
                <li class="nav-item mr-3">
                  <a class="nav-link" href="/login" style="color:#C17B3D">Login</a>
                </li>
              </ul>
            </div>
          </nav>
      </nav>

      <div class="container">
        <div class="row"> 
          <div class="col-xl-10">
          <div class="mt-6 ml-n4 w-75 text-left Barber">
          <h1 class="display-3 ">JF Barbearia A História</h1> 
          <p class="mt-4 text-justify">Fundada no ano de 2016, possui somente uma filial localizada em São Miguel
            região Leste de São Paulo (Av. São Miguel N. 2007, CEP: 03619-100).
            <br> A JF
              Barbearia, é uma empresa que tem sua função voltada a estética, oferecendo
              cortes de cabelo masculino e feminino, design de sobrancelhas e outros
              serviços. 
              A empresa no momento ela é totalmente voltada para atendimentos
            em horário de chegada ao estabelecimento. A empresa tem horário de
            funcionamento das 09:00 AM até 19:00 PM de Segunda-Feira a sexta-feira e
            aos sábados das 09:00 AM até 14:00 PM.
            O objetivo da JF Barbearia é desenvolver o melhor ambiente para atender seus
            clientes.</p></div></div>

           <div class="col">
             <img class="w-75" src="../../static/Images/Maquina.svg" style="margin-top: 7rem;">
</body>
</html>