<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JF Barbearia</title>
    <link rel="stylesheet" href="../static/Style/bootstrap.css">
    <link rel="stylesheet" href="../static/Style/styles.css">
	<script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
</head>
<body>
    <div class="wrapper">
        <div class="sidebar">
            <center>
            <a href="/clientesindex"><img alt="Jf Barber" src="../static/Images/Logo.svg" height="100px"></a>
            <img class="img-profile" src="../static/Images/Profile.png" height="150px">
            </center>
            <ul style="margin-left: 50px;">
                <li><a href="/clientesindex"><i class="fas fa-home"></i>Dashboard</a></li>
                <li><a href="/agendar"><i class="fas fa-clock"></i>Agende Seu Horário</a></li>
                <li><a href="/logout"><button type="submit" class="btn btn-block btn-sucess">Finalizar Sessão</button></a></li>
            </ul> 
        </div>
        <div class="main_content">
            <div class="header"></div>  
            <div class="info">
             <div>Bem vindo a JF Barbearia</div>
          </div>
        </div>
    </div>
</body>
</html>