<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Serviços</title>
    <link rel="shortcut icon" href="../../static//Images/Logo.svg">
    <link rel="stylesheet" href="../../static/Style/bootstrap.css">
    <link rel="stylesheet" href="../../static/Style/styles.css">

    
</head>
<body>
    <nav class="navbar ml-6 mt-2">
        <a class="navbar-brand" href="/">
          <img src="../../static/Images/Logo.svg" height="85px" alt="Jf Barbearia" loading="lazy">
        </a>
        <nav class="navbar navbar-expand-lg navbar-light mr-6 ">
            <a class="navbar-brand" href="#"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav font-nav-bar">
                <li class="nav-item mr-3">
                    <a class="nav-link" href="/historia">Historia <span class="sr-only">(current)</span></a>
                  </li>
                <li class="nav-item mr-3">
                  <a class="nav-link" href="/servicos">Serviços <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item mr-3">
                  <a class="nav-link" href="/galeria">Galeria</a>
                </li>
                <li class="nav-item mr-3">
                  <a class="nav-link" href="/faleconosco">Contato</a>
                </li>
                <li class="nav-item mr-3">
                  <a class="nav-link" href="/login" style="color:#C17B3D">Login</a>
                </li>
              </ul>
            </div>
          </nav>
    </nav>
  
        <h1 class="text-center mt-2">Serviços Menu</h1>
        <div class="mt-4 container">
          <div class="row">
            <div class="col-sm">
              <img src="https://svgur.com/i/QV2.svg" style="
                height: 445px;
                "> </div>
            <div class="col-sm">
              <img src="https://svgur.com/i/QV2.svg" style="
                height: 445px;
                "> </div>
            <div class="col-sm">
              <img src="https://svgur.com/i/QV2.svg" style="
                height: 445px;
                "> </div>
          </div>
        </div>
</body>
</html>