<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JF Barbearia</title>
    <link rel="shortcut icon" href="../../static//Images/Logo.svg">
    <link rel="stylesheet" href="../static/Style/bootstrap.css">
    <link rel="stylesheet" href="../static/Style/styles.css">
	<script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
</head>
<body>
    <div class="wrapper">
        <div class="sidebar">
        <center>
        <a href="/dashboard"><img alt="Jf Barber" src="../static/Images/Logo.svg" height="100px"></a>
        <img class="img-profile" src="../static/Images/Profile.png" height="150px">
        </center>
        <ul style="margin-left: 50px;">
            <li><a href="/dashboard"><i class="fas fa-home"></i>Dashboard</a></li>
            <li><a href="/registrados"><i class="fas fa-users"></i>Clientes</a></li>
            <li><a href="/horarios"><i class="fas fa-clock"></i>Horários</a></li>
            <li><a href="/produtos_registrados"><i class="fas fa-shopping-bag"></i>Produtos</a></li>
            <li><a href="/logout"><i class="fas fa-sign-out-alt"></i>Sair</a></li>

        </ul> 
    </div>
    <div class="main_content">
        <div class="header"></div>  
        <div class="info">
    <h1 class="text-center text-primary">Editar Produtos</h1>
    <center><form action="/editarProdutos/{{ produtos.id }}" method="POST">
        
        <br> 
        <span class="input input--hoshi">
            <input class="input__field input__field--hoshi" type="text" name="nome" id="nome" value="{{ produtos.nome }}" required>
            <label class="input__label input__label--hoshi input__label--hoshi-color-1" for="input-4">
                <span class="input__label-content input__label-content--hoshi">Nome</span>
              </label>
            </span>


            <br> 
            <span class="input input--hoshi">
                <input class="input__field input__field--hoshi" type="number" name="quantidade" id="quantidade" value="{{ produtos.quantidade }}" required>
                <label class="input__label input__label--hoshi input__label--hoshi-color-1" for="input-4">
                    <span class="input__label-content input__label-content--hoshi">Quantidade</span>
                  </label>
                </span>
        

            <br>
            <span class="input input--hoshi">
            <input class="input__field input__field--hoshi" type="text" name="preco" id="preco" value="{{ produtos.preco }}">
            <label class="input__label input__label--hoshi input__label--hoshi-color-1" for="input-4">
                <span class="input__label-content input__label-content--hoshi">Preço</span>
              </label>
            </span>
        <br>
        <CENTER><button type="submit" class="btn-send mt-4"><span>EDITAR &nbsp;</span></button></CENTER>

        <script>
            /*!
* classie - class helper functions
* from bonzo https://github.com/ded/bonzo
* 
* classie.has( elem, 'my-class' ) -> true/false
* classie.add( elem, 'my-new-class' )
* classie.remove( elem, 'my-unwanted-class' )
* classie.toggle( elem, 'my-class' )
*/

/*jshint browser: true, strict: true, undef: true */
/*global define: false */

( function( window ) {

'use strict';

// class helper functions from bonzo https://github.com/ded/bonzo

function classReg( className ) {
return new RegExp("(^|\\s+)" + className + "(\\s+|$)");
}

// classList support for class management
// altho to be fair, the api sucks because it won't accept multiple classes at once
var hasClass, addClass, removeClass;

if ( 'classList' in document.documentElement ) {
hasClass = function( elem, c ) {
  return elem.classList.contains( c );
};
addClass = function( elem, c ) {
  elem.classList.add( c );
};
removeClass = function( elem, c ) {
  elem.classList.remove( c );
};
}
else {
hasClass = function( elem, c ) {
  return classReg( c ).test( elem.className );
};
addClass = function( elem, c ) {
  if ( !hasClass( elem, c ) ) {
    elem.className = elem.className + ' ' + c;
  }
};
removeClass = function( elem, c ) {
  elem.className = elem.className.replace( classReg( c ), ' ' );
};
}

function toggleClass( elem, c ) {
var fn = hasClass( elem, c ) ? removeClass : addClass;
fn( elem, c );
}

var classie = {
// full names
hasClass: hasClass,
addClass: addClass,
removeClass: removeClass,
toggleClass: toggleClass,
// short names
has: hasClass,
add: addClass,
remove: removeClass,
toggle: toggleClass
};

// transport
if ( typeof define === 'function' && define.amd ) {
// AMD
define( classie );
} else {
// browser global
window.classie = classie;
}

})( window );

          (function() {
              // trim polyfill : https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String/Trim
              if (!String.prototype.trim) {
                  (function() {
                      // Make sure we trim BOM and NBSP
                      var rtrim = /^[\s\uFEFF\xA0]+|[\s\uFEFF\xA0]+$/g;
                      String.prototype.trim = function() {
                          return this.replace(rtrim, '');
                      };
                  })();
              }

              [].slice.call( document.querySelectorAll( 'input.input__field' ) ).forEach( function( inputEl ) {
                  // in case the input is already filled..
                  if( inputEl.value.trim() !== '' ) {
                      classie.add( inputEl.parentNode, 'input--filled' );
                  }

                  // events:
                  inputEl.addEventListener( 'focus', onInputFocus );
                  inputEl.addEventListener( 'blur', onInputBlur );
              } );

              function onInputFocus( ev ) {
                  classie.add( ev.target.parentNode, 'input--filled' );
              }

              function onInputBlur( ev ) {
                  if( ev.target.value.trim() === '' ) {
                      classie.remove( ev.target.parentNode, 'input--filled' );
                  }
              }
          })();

          </script>
    </form>
</body>
</html>