<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JF Barbearia</title>
    <link rel="shortcut icon" href="../../static//Images/Logo.svg">
    <link rel="stylesheet" href="../static/Style/bootstrap.css">
    <link rel="stylesheet" href="../static/Style/styles.css">
	<script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
</head>
<body>
    <div class="wrapper">
        <div class="sidebar">
        <center>
        <a href="/dashboard"><img alt="Jf Barber" src="../static/Images/Logo.svg" height="100px"></a>
        <img class="img-profile" src="../static/Images/Profile.png" height="150px">
        </center>
        <ul style="margin-left: 50px;">
            <li><a href="/dashboard"><i class="fas fa-home"></i>Dashboard</a></li>
            <li><a href="/registrados"><i class="fas fa-users"></i>Clientes</a></li>
            <li><a href="/horarios"><i class="fas fa-clock"></i>Horários</a></li>
            <li><a href="/produtos_registrados"><i class="fas fa-shopping-bag"></i>Produtos</a></li>
            <li><a href="/logout"><i class="fas fa-sign-out-alt"></i>Sair</a></li>

        </ul> 
    </div>
        <div class="main_content">
        <div class="header"></div>  
        <div class="info">
            <h1 class="text-center text-primary">Produtos</h1>
        <div class="col-xs-12">
            <table class="table">
                <thead>
                    <a href="/cadastro_de_produtos">Cadastrar Novos Produtos</a>
                    <tr class="text-primary">
                        <th>Nome</th>
                        <th>Preço</th>
                        <th>Quantidade</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                {% for e in produtos%}
                <tr class="text-dark">
                    <td>{{e.nome}}</td>
                    <td>{{e.preco}}</td>
                    <td>{{e.quantidade}}</td>
                    <td>
                        <a href="/editarProdutos/{{e.id}}"><i class="fas fa-edit text-dark"></i> </a>  &nbsp;
                        <a href="/deletarProdutos/{{e.id}}"><i class="fas fa-trash text-dark"></i> </a>
                    </td>
                </tr>
                </tbody>
                {% endfor %}
            </table>
        </div>
</body>
</html>